# Server Configuration
PORT=3001
NODE_ENV=development

# Supabase Configuration
SUPABASE_URL=https://ajafmabzsmidwvjxrsle.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqYWZtYWJ6c21pZHd2anhyc2xlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NjUyOTEsImV4cCI6MjA3MzQ0MTI5MX0.IuoCjL8aFh2hXSCWFkKP43wHVwUlmPXE9zYjf9j0zi0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqYWZtYWJ6c21pZHd2anhyc2xlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Nzg2NTI5MSwiZXhwIjoyMDczNDQxMjkxfQ.0jBPt0Q2JSsJDvxVjy7jFltGm-YDn9gfX9VJHKVI1LU

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_RHkUFiZGyLjYhx
RAZORPAY_KEY_SECRET=6RBE9BbkUU3AYxZs111Rd41m
RAZORPAY_WEBHOOK_SECRET=f9cc7f1d8207ac64112f76ddb91e821abd156b878ebf5b8e7715307bf24c0d97

# CORS Configuration
FRONTEND_URL=http://localhost:5173
